extends layout

block content
  div.flex.flex-col.items-center.gap-5
    div.mt-5.flex.flex-col.gap-y-3.items-center
      if user
        if !user.member 
          a.bg-fuchsia-200.px-16.py-4.inline-block.text-xl.rounded-lg(href="/membership" class="hover:bg-fuchsia-400 transition") Become a member! 
          p.bg-blue-200.px-10.rounded-lg.py-2.text-xs You need to become a member for posting messages!
        else
          if messages 
            if messages.status 
              p.bg-green-200.px-10.rounded-lg.py-2.text-lg #{messages.status}
            if messages.create
              p.bg-green-200.px-10.rounded-lg.py-2.text-lg #{messages.create}
          a.bg-fuchsia-200.px-16.py-4.inline-block.text-xl.rounded-lg.flex.justify-center.items-center.gap-3(href="/new-message" class="hover:bg-fuchsia-400 transition") Add new Message
    div.flex.flex-col.items.center.gap-6(class="w-[80%]")
      for post in posts 
        div.w-full.ring-1.ring-fuchsia-300.rounded-lg.shadow-lg.flex
            if user
              div.h-full.p-2.flex.flex-col.items-center.text-center.min-w-fit.gap-y-2
                img.w-36.rounded-full(src=post.created_by.img alt=post.created_by.image)
                p.text-lg #{post.created_by.fullName}
                p.text-xs Join date: #{post.created_by.joinDate_formatted}
              div.py-3.px-2.flex.flex-col.grow
                p.font-bold.text-xl.inline-block.self-start(class="border-b-[1px] border-fuchsia-300") #{post.title_unesc}
                p.py-2.text-lg.grow #{post.message_unesc}
                p.text-sm.self-end Post Date: #{post.timestamp_formatted}
                if user.admin
                  form.self-end.m-0(action="" method="POST")
                    input(type="hidden" name="postid" value=post.id)
                    button.bg-red-200.px-10.py-1.inline-block.text-sm.rounded-lg(type="submit" class="hover:bg-red-400 transition") Delete post
            else 
              div.h-full.p-2.flex.flex-col.items-center.text-center.min-w-fit.gap-y-2
                img.w-36.rounded-full(src=post.created_by.img alt=post.created_by.image)
                p.text-lg Anonymous
                p.text-xs Join date: xx.xx.xxxx
              div.py-3.px-2.flex.flex-col.grow
                p.font-bold.text-xl.inline-block.self-start(class="border-b-[1px] border-fuchsia-300") #{post.title_unesc}
                p.py-2.text-lg.grow #{post.message_unesc}
                p.text-sm.place-self-end Post Date: xx.xx.xxxx
