extends layout 

block content 
    div.flex.w-full.pt-14.items-center.flex-col(class="h-[calc(100vh-56px)]")
        p.font-bold.pb-10.text-3xl.border-fuchsia-600.relative(class="border-b-[1px] w-[430px] text-center after") Sign #[span.text-fuchsia-500 Up] #[span.w-56.h-10.bg-white.absolute.left-0(class="transition-transform delay-300 ease-in -translate-x-20 duration-700") ⠀] #[span.w-56.h-9.bg-white.absolute.-right-5(class="transition-transform delay-300 ease-in translate-y-10 duration-700") ⠀] #[span(class="h-1 w-[430px] -bottom-[2px] left-0 absolute bg-white transition-transform ease-in delay-1000 duration-500 translate-x-full") ⠀]
        div.rounded-lg(class="w-[500px] h-[600px]")
            form.flex.flex-col.gap-y-3.py-6.px-8(action="" method="POST")
                div.w-full.flex.flex-col
                    label.p-1(for="firstName") First Name
                    input.p-2.rounded-md.bg-slate-100(type="text" name="firstName" required value=(undefined===user ? "" : user.firstName) id="firstName" placeholder="First Name" class="focus:outline-none focus:ring-fuchsia-500 focus:ring-1 transition hover:shadow-[0px_0px_3px_rgba(217,70,239,0.9)]")
                div.w-full.flex.flex-col
                    label.p-1(for="lastName") Last Name
                    input.p-2.rounded-md.bg-slate-100(type="text" name="lastName" required value=(undefined===user ? "" : user.lastName) id="lastName" placeholder="Last Name" class="focus:outline-none focus:ring-fuchsia-500 focus:ring-1 transition hover:shadow-[0px_0px_3px_rgba(217,70,239,0.9)]")
                div.w-full.flex.flex-col 
                    label.p-1(for="userName") Username
                    input.p-2.rounded-md.bg-slate-100(type="text" name="userName" required value=(undefined===user ? "" : user.username) id="userName" placeholder="Username" class="focus:outline-none focus:ring-fuchsia-500 focus:ring-1 transition hover:shadow-[0px_0px_3px_rgba(217,70,239,0.9)]")
                div.w-full.flex.flex-col 
                    label.p-1(for="password") Password
                    input.p-2.rounded-md.bg-slate-100(type="password" name="password" required id="password" placeholder="Password" class="focus:outline-none focus:ring-fuchsia-500 focus:ring-1 transition hover:shadow-[0px_0px_3px_rgba(217,70,239,0.9)]")
                div.w-full.flex.flex-col 
                    label.p-1(for="confirmPassword") Confirm Password
                    input.p-2.rounded-md.bg-slate-100(type="password" name="confirmPassword" required id="confirmPassword" placeholder="Confirm password" class="focus:outline-none focus:ring-fuchsia-500 focus:ring-1 transition hover:shadow-[0px_0px_3px_rgba(217,70,239,0.9)]")
                p Pick your avatar 
                div.w-full.flex.flex-row.gap-2.flex-wrap.justify-center.px-10
                    for img in imgs 
                        if imgs.indexOf(img) === 0
                            label(for=img.name)
                                input(type="radio" name="avatar" id=img.name value=img.name checked class="appearance-none cursor-pointer w-20 h-20 rounded-full border-2 absolute checked:ring-2 checked:ring-fuchsia-500 transition")
                                img.w-20.h-20.rounded-full(src=img.url alt=img.name)
                        else 
                            label(for=img.name)
                                input(type="radio" name="avatar" id=img.name value=img.name class="appearance-none w-20 cursor-pointer h-20 rounded-full border-2 absolute checked:ring-2 checked:ring-fuchsia-500 transition")
                                img.w-20.h-20.rounded-full(src=img.url alt=img.name)
                if errors 
                    div.bg-red-300.p-5.rounded-lg
                        ul.flex.flex-col.gap-y-2 
                            for error in errors 
                                    li #{error.msg}
                input.py-4.px-14.bg-fuchsia-200.self-center.text-xl.rounded-lg.mt-2(type="submit" value="Sign Up" class="hover:bg-fuchsia-400 transition hover:scale-[1.02]")